.wholeBox {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 1%;
  box-sizing: border-box;
  background-color: #E3E3E3;
  color: black;
  box-shadow: 0px -8px 20px -10px;
}

.leftPart {
  width: 60%;
  height: 100%;
  position: relative;
}

.rightPart {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  background-color: whitesmoke;
  font-weight: 300;
}

.inputDiv {
  position: relative;
  width: 30vw;
  margin: 20px 0;
  font-size: 14px;
}

.inputDiv input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  color: black;
  outline: none;
}

.leftImage {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 5px 0px 10px -10px;
}

.leftPart p {
  position: absolute;
  z-index: 10;
  top: 70%;
  left: 5%;
  font-size: 28px;
}

.leftPart p>* {
  color: #456882;
  font-style: italic;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.inputDiv input:focus~.underline,
.inputDiv input:valid~.underline {
  transform: scaleX(1);
}

.googleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button {
  width: 100%;
  margin: 10px 0;
}

.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}
